SUPABASE_URL=https://geolczrjooewamibjqrt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdlb2xjenJqb29ld2FtaWJqcXJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMzY0NzMsImV4cCI6MjA4ODcxMjQ3M30.eEltTTx_Hpf1LAT6ZMTfQJyVZI1iYuNI_wISz-_Y0MM